{
  "Actions": [
    {
      "Name": "GBA_A",
      "GroupName": "Game Boy Advance",
      "Title": "A Button",
      "KeyboardCode": "X",
      "GamepadCode": "A"
    },
    {
      "Name": "GBA_B",
      "GroupName": "Game Boy Advance",
      "Title": "B Button",
      "KeyboardCode": "Z",
      "GamepadCode": "B"
    },
    {
      "Name": "GBA_L",
      "GroupName": "Game Boy Advance",
      "Title": "L Button",
      "KeyboardCode": "A",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "GBA_R",
      "GroupName": "Game Boy Advance",
      "Title": "R Button",
      "KeyboardCode": "S",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "GBA_Start",
      "GroupName": "Game Boy Advance",
      "Title": "Start",
      "KeyboardCode": "ENTER",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "GBA_Select",
      "GroupName": "Game Boy Advance",
      "Title": "Select",
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "GBA_Up",
      "GroupName": "Game Boy Advance",
      "Title": "D-Pad Up",
      "KeyboardCode": "UPARROW",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "GBA_Down",
      "GroupName": "Game Boy Advance",
      "Title": "D-Pad Down",
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "GBA_Left",
      "GroupName": "Game Boy Advance",
      "Title": "D-Pad Left",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "GBA_Right",
      "GroupName": "Game Boy Advance",
      "Title": "D-Pad Right",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "NDS_A",
      "GroupName": "Nintendo DS",
      "Title": "A Button",
      "KeyboardCode": "X",
      "GamepadCode": "A"
    },
    {
      "Name": "NDS_B",
      "GroupName": "Nintendo DS",
      "Title": "B Button",
      "KeyboardCode": "Z",
      "GamepadCode": "B"
    },
    {
      "Name": "NDS_X",
      "GroupName": "Nintendo DS",
      "Title": "X Button",
      "KeyboardCode": "S",
      "GamepadCode": "X"
    },
    {
      "Name": "NDS_Y",
      "GroupName": "Nintendo DS",
      "Title": "Y Button",
      "KeyboardCode": "A",
      "GamepadCode": "Y"
    },
    {
      "Name": "NDS_L",
      "GroupName": "Nintendo DS",
      "Title": "L Button",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "NDS_R",
      "GroupName": "Nintendo DS",
      "Title": "R Button",
      "KeyboardCode": "W",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "NDS_Start",
      "GroupName": "Nintendo DS",
      "Title": "Start",
      "KeyboardCode": "ENTER",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "NDS_Select",
      "GroupName": "Nintendo DS",
      "Title": "Select",
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "NDS_Up",
      "GroupName": "Nintendo DS",
      "Title": "D-Pad Up",
      "KeyboardCode": "UPARROW",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "NDS_Down",
      "GroupName": "Nintendo DS",
      "Title": "D-Pad Down",
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "NDS_Left",
      "GroupName": "Nintendo DS",
      "Title": "D-Pad Left",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "NDS_Right",
      "GroupName": "Nintendo DS",
      "Title": "D-Pad Right",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "UI_Up",
      "GroupName": "Interface",
      "Title": "Navigate Up",
      "KeyboardCode": "UPARROW",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "UI_Down",
      "GroupName": "Interface",
      "Title": "Navigate Down",
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "UI_Left",
      "GroupName": "Interface",
      "Title": "Navigate Left",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "UI_Right",
      "GroupName": "Interface",
      "Title": "Navigate Right",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "UI_Accept",
      "GroupName": "Interface",
      "Title": "Accept",
      "KeyboardCode": "X",
      "GamepadCode": "A"
    },
    {
      "Name": "UI_Back",
      "GroupName": "Interface",
      "Title": "Back",
      "KeyboardCode": "Z",
      "GamepadCode": "B"
    },
    {
      "Name": "UI_Start",
      "GroupName": "Interface",
      "Title": "Start",
      "KeyboardCode": "ENTER",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "UI_Details",
      "GroupName": "Interface",
      "Title": "Details",
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "SwitchLeftMenu"
    }
  ],
  "__guid": "98fe4f0b-bcdd-48c5-817b-bfd6cb1f1706",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}