{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "0ccf55fb-4db5-42f3-9f48-3a01af4e4f2f",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}